/* Reset Dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #130b1b; /* Warna ungu sangat gelap */
    color: white;
}

/* Navigasi */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.2;
}

.menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
    min-height: 60vh;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.1;
}

.hero-text p {
    font-size: 14px;
    line-height: 1.6;
    color: #d1d1d1;
}

.hero-img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%; /* Membuat gambar bulat */
    border: 3px solid transparent; 
}

/* Portofolio Section */
.portfolio {
    padding: 50px 10%;
    text-align: center;
}

.portfolio h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    width: 32%;
    text-align: left;
}

.card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card p {
    font-size: 12px;
    line-height: 1.4;
}

/* Contact Section */
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10% 100px 10%;
}

.contact-details h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-details p {
    margin-bottom: 8px;
    font-size: 14px;
}

.contact-extra {
    text-align: center;
}

.contact-extra img {
    width: 150px;
    border-radius: 10px;
}

.contact-extra h3 {
    margin-top: 10px;
    font-size: 24px;
}
